body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

section {
    margin: 50px;
    padding-top: 40px;
    scroll-margin-top: 40px;
}

button {
    padding: 8px 12px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #444;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: black
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
}

/* BEGIN - Demos Section */
.demos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.demos-text {
    flex: 1 1 40%;
    margin-right: 2rem;
}

.demos-audio-container {
    flex: 1;
}

.demo {
    background: white;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 2rem;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .demos-container {
        flex-direction: column;
    }

    .demos-text {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .demos-audio-container {
        width: 100%;
    }

    .demo {
        margin-bottom: 1rem;
    }
}
/* END - Demos Section */

/* BEGIN - EXAMPLES Section */
.examples-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.audio-list {
    flex: 1 1 40%;
    margin-right: 2rem;
}

.image-container {
    border: 1px solid black;
    flex: 15;
    height: 15rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .examples-container {
        flex-direction: column;
    }

    .audio-list {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .image-container {
        flex: unset;
        width: 100%;
    }

    .image-container {
        margin-bottom: 1rem;
    }
}
/* END - EXAMPLES Section */
